@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Sevillana&display=swap');

*{
    font-size: 32px;
}

html,body, #root{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

h1{
    font-family: 'Sevillana', cursive;
    font-weight: bold;
}
span{
    font-weight: bold;
}

